.sidebar_menu {
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 513px;
    width: 250px;
    /* margin-left: 4%; */
}

.sec_div {
    display: flex;
    flex-direction: column;
    line-height: 30px;

}

.side-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    width: 178px;
}

.icon {
    width: 50px;
    height: 48px;
    margin-top: 7px;
}

.side_desc {
    margin-left: 6px;
}

.icon-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 5px;
    text-transform: uppercase;
    color: #bdbdbd;
    margin-bottom: 0.25rem;
}

.icon-time {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;;
    line-height: 5px;
    color: #f2994a;
}

.icon1 {
    width: 46px;
    height: 42px;
    margin-top: 7px;
}

.icon1-time {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 5px;
    color: #333;
}

@media (max-width: 375px) {

    .sidebar_menu {
        display: flex;
        flex-direction: column;
        width: 668px;;
        height: 251px;
        margin-left: 70px;
    }

    .sec_div {
        display: flex;
        flex-direction: row;
    }


}